main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 7px;
  margin-top: 50px;
  width: 33%;
}

.list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}

.fit {
  padding: 1rem;
  background-color: #f4f4f4;
  color: #1a1a1a;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 90%;
  max-width: 180px;
  cursor: pointer;
}

.fit:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  background-color: #e9e9e9;
}
